rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // RESOURCES_STUDYPEDIA/{resourceId}/courses/{courseId}/semesters/{semesterId}/course_unit/{unitId}/documents/{docId}
    match /RESOURCES_STUDYPEDIA/{resourceId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'kaigwaakram123@gmail.com';
      
      match /courses/{courseId} {
        allow read: if request.auth != null;
        allow write: if request.auth != null && request.auth.token.email == 'kaigwaakram123@gmail.com';
        
        match /semesters/{semesterId} {
          allow read: if request.auth != null;
          allow write: if request.auth != null && request.auth.token.email == 'kaigwaakram123@gmail.com';
          
          match /course_unit/{unitId} {
            allow read: if request.auth != null;
            allow write: if request.auth != null && request.auth.token.email == 'kaigwaakram123@gmail.com';
            
            match /documents/{docId} {
              allow read: if request.auth != null;
              allow write: if request.auth != null && request.auth.token.email == 'kaigwaakram123@gmail.com';
            }
          }
        }
      }
    }
    
    // User payments
    match /user_payments/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId 
                  || request.auth.token.email == 'kaigwaakram123@gmail.com';
      allow write: if request.auth != null && request.auth.token.email == 'kaigwaakram123@gmail.com';
    }
    
    // Users
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
